openapi: 3.0.3
info:
  title: Curlmate API
  version: 1.0.0
  description: |
    Curlmate is an OAuth orchestration and token vending API.
    Exchange a valid JWT and connection reference for a service access token.

servers:
  - url: https://api.curlmate.dev
  - url: http://localhost:5173

paths:
  /skill:
    get:
      tags:
        - Metadata
      summary: Get skill metadata
      description: |
        Returns metadata about the Curlmate skill including all available endpoints.
        
        No authentication required.

      responses:
        "200":
          description: Skill metadata successfully retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SkillResponse"

  /connections:
    get:
      tags:
        - OAuth
      summary: List OAuth connections
      description: |
        Returns a list of all OAuth connections for the authenticated user.
        
        Requires:
        - Bearer JWT for user authentication

      security:
        - bearerAuth: []

      responses:
        "200":
          description: Connections successfully retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectionsResponse"

        "401":
          description: Unauthorized - Invalid or missing JWT

  /opencode-config:
    get:
      tags:
        - Configuration
      summary: Retrieve OpenCode configuration
      description: |
        Returns MCP server configuration for OpenCode integration.
        
        Requires:
        - Bearer JWT for user authentication

      security:
        - bearerAuth: []

      responses:
        "200":
          description: OpenCode config successfully retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenCodeConfigResponse"

        "401":
          description: Unauthorized - Invalid or missing JWT

  /auth-url:
    get:
      tags:
        - OAuth
      summary: Get OAuth authorization URL
      description: |
        Returns the OAuth authorization URL for initiating a new connection.

        Requires:
        - Bearer JWT for user authentication
        - x-connection header identifying the service

      security:
        - bearerAuth: []

      parameters:
        - name: x-connection
          in: header
          required: true
          description: |
            Connection identifier in the format:
            connectionHash:service
          schema:
            type: string
            example: 2443c362e25b8d1b8fcb13e3a473c282:github

      responses:
        "200":
          description: Auth URL successfully retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthUrlResponse"

        "400":
          description: Bad Request - Missing connection header

        "401":
          description: Unauthorized - Invalid or missing JWT

  /jwt:
    get:
      tags:
        - Authentication
      summary: Generate JWT token
      description: |
        Generates a JWT token for user authentication.
        
        Requires:
        - Bearer API Key for authentication (using ApiKey scheme)

      security:
        - apiKeyAuth: []

      responses:
        "200":
          description: JWT successfully generated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JwtResponse"

        "400":
          description: Bad Request - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "404":
          description: Not Found - Could not create JWT for user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /claude-config:
    get:
      tags:
        - Configuration
      summary: Retrieve Claude configuration
      description: |
        Returns MCP server configuration for Claude Code integration.
        
        Requires:
        - Bearer JWT for user authentication

      security:
        - bearerAuth: []

      responses:
        "200":
          description: Claude config successfully retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClaudeConfigResponse"

        "400":
          description: Bad Request - Invalid or missing JWT
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /token:
    get:
      tags:
        - OAuth
      summary: Retrieve OAuth access token
      description: |
        Returns an OAuth access token for a previously authorized connection.

        Requires:
        - Bearer JWT for user authentication
        - x-connection header identifying the stored OAuth connection

      security:
        - bearerAuth: []

      parameters:
        - name: x-connection
          in: header
          required: true
          description: |
            Connection identifier in the format:
            appHash:connectionId:service
          schema:
            type: string
            example: 4603b9b2f760932eb4f3f6f78a500bec:2f2ab9c4-80eb-4db8-afc9-834cd2647ad6:airtable

      responses:
        "200":
          description: Access token successfully retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"

        "401":
          description: Unauthorized - Invalid or missing JWT
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "404":
          description: Connection not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: API key in format "Bearer <api_key>"

  schemas:
    JwtResponse:
      type: object
      properties:
        jwt:
          type: string
          description: JWT token for user authentication
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
      required:
        - jwt

    ClaudeConfigResponse:
      type: object
      properties:
        mcpServers:
          type: object
          description: MCP server configuration object
          example:
            airtable:
              command: npx
              args:
                - "-y"
                - "@modelcontextprotocol/server-airtable"
              env:
                AIRTABLE_API_KEY: "{!env.AIRTABLE_API_KEY}"
      required:
        - mcpServers

    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
          description: OAuth access token
          example: ya29.a0AfH6SMA...
        expires_in:
          type: integer
          description: Expiration time in seconds
          example: 3600
        token_type:
          type: string
          example: Bearer
      required:
        - access_token

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: Unauthorized
      required:
        - error

    SkillResponse:
      type: object
      properties:
        id:
          type: string
          description: Skill identifier
          example: curlmate
        name:
          type: string
          description: Skill name
          example: Curlmate
        description:
          type: string
          description: Skill description
        skillEndpoint:
          type: string
          description: URL of the skill endpoint
          example: https://api.curlmate.dev/skill
        skillEndpointMethod:
          type: string
          description: HTTP method for skill endpoint
          example: GET
        skillEndpointAuthMethod:
          type: string
          description: Authentication method for skill endpoint
          example: None
        authUrlEndpoint:
          type: string
          description: URL for getting auth URL
        authUrlEndpointMethod:
          type: string
        authUrlEndpointAuthMethod:
          type: string
        connectionsEndpoint:
          type: string
        connectionsEndpointMethod:
          type: string
        connectionsEndpointAuthMethod:
          type: string
        jwtEndpoint:
          type: string
        jwtEndpointAuthMethod:
          type: string
        jwtEndpointMethod:
          type: string
        claudeConfigEndpoint:
          type: string
        claudeConfigEndpointAuthMethod:
          type: string
        claudeConfigEndpointMethod:
          type: string
        opencodeConfigEndpoint:
          type: string
        opencodeConfigEndpointAuthMethod:
          type: string
        opencodeConfigEndpointMethod:
          type: string
        tokenEndpoint:
          type: string
        tokenEndpointAuthMethod:
          type: string
        tokenEndpointMethod:
          type: string

    ConnectionsResponse:
      type: object
      properties:
        connections:
          type: array
          items:
            $ref: "#/components/schemas/Connection"
      required:
        - connections

    Connection:
      type: object
      properties:
        id:
          type: string
          description: Connection identifier
          example: 7db5537dcb19f1d91fbe3faaf560bc02
        service:
          type: string
          description: Service name
          example: github
      required:
        - id
        - service

    OpenCodeConfigResponse:
      type: object
      properties:
        mcpServers:
          type: object
          description: MCP server configuration object
          additionalProperties:
            $ref: "#/components/schemas/McpServer"
      required:
        - mcpServers

    McpServer:
      type: object
      properties:
        type:
          type: string
          example: remote
        url:
          type: string
          example: https://github-mcp.curlmate.workers.dev/mcp
        headers:
          type: object
          additionalProperties:
            type: string

    AuthUrlResponse:
      type: object
      properties:
        url:
          type: string
          description: OAuth authorization URL
          example: https://github.com/login/oauth/authorize?client_id=...
        state:
          type: string
          description: State parameter for CSRF protection
      required:
        - url</
